<!DOCTYPE html> {% load static%}{% load crispy_forms_tags%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Alpha</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'hm/img/favicon2.png' %}" rel="shortcut icon" />

    <link href="{% static 'blog/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">

        <div class="container-fluid">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show"> <strong>Success!</strong> {{ message}} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
            {% endfor %} {% endif %}
            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center">
                    <h1 class="logo mr-auto"><a href="/">Alpha<span>.</span></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li class="active"><a href="{% url 'amaizing' %}">Wow That's Amaizing</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else%}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">Register</a></li>
                            {% endif%}
                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                    <a href="{% url 'amaizing-single' blog.id%}" class="get-started-btn scrollto">Refresh</a>
                </div>
            </div>

        </div>
    </header>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'amaizing' %}">Wow That's Amaizing All</a></li>
                    <li>Wow That's Amaizing</li>
                </ol>
                <h2>Wow That's Amaizing</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <!-- ======= Blog Single Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">

                        <article class="entry entry-single">

                            <div class="entry-img">
                                <img src="{{blog.the_photo.url}}" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                {{blog.title}}
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#cmnt">{{blog.author}}</a></li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#cmnt"><time datetime="2020-01-01">{{ blog.date_posted }}</time></a></li>
                                    <li class="d-flex align-items-center"><i class="icofont-comment"></i>{% if comment == 1 or comment == 0 %}
                                        <a href="#cmnt">{{comment}} Comment</a> {% else%}
                                        <a href="#cmnt">{{comment}} Comments</a> {% endif %} </li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <h6 style="color: purple;">{{blog.hashtag}}</h6>
                                <p>
                                    {{blog.content}}.
                                </p>

                                <blockquote>
                                    <i class="icofont-quote-left quote-left"></i>
                                    <p>
                                        Wow! That's Amaizing
                                    </p>
                                    <i class="las la-quote-right quote-right"></i>
                                    <i class="icofont-quote-right quote-right"></i>
                                </blockquote>







                            </div>

                            <div class="entry-footer clearfix">
                                <div class="float-left">
                                    {% if blog.author == user %}
                                    <a href="{% url 'amaizing-update' blog.id %}" class="get-started-btn scrollto">Update</a>
                                    <a href="{% url 'amaizing-delete' blog.id %}" class="get-started-btn scrollto">Delete</a> {% endif%} {% if user.is_authenticated %}
                                    <a href="#comment" class="get-started-btn scrollto">Comment</a>{% else%}
                                    <a href="#comment1" class="get-started-btn scrollto">Comment</a>{% endif%} {% if blog.link != '#' %}
                                    <a href="{{blog.link}}" class="get-started-btn scrollto">For More Info Click Here</a> {% endif%}
                                </div>


                                <div class="float-right share">
                                    {% if blog.author.profile.twitter != '#'%}
                                    <a href="https://www.twitter.com/{{blog.author.profile.twitter}}" title="Holla me on Twitter"><i class="icofont-twitter"></i><span> @{{blog.author.profile.twitter}}</span></a>{% endif%}
                                    <!--<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>-->
                                    {% if blog.author.profile.facebook != '#'%}
                                    <a href="https://www.facebook.com/{{blog.author.profile.facebook}}" title="Holla me on Facebook"><i class="icofont-facebook"></i><span> @{{blog.author.profile.facebook}}</span></a>{% endif%}
                                    <!--<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>-->
                                    {% if blog.author.profile.instagram != '#'%}
                                    <a href="https://www.instagram.com/{{blog.author.profile.instagram}}" title="Holla me on Instagram"><i class="icofont-instagram"></i><span> @{{blog.author.profile.instagram}}</span></a>{% endif%}
                                </div>


                            </div>

                        </article>
                        <!-- End blog entry -->


                        <!-- End blog author bio -->

                        <div class="blog-comments" id="cmnt">
                            {% if comment == 1 or comment == 0 %}
                            <h4 class="comments-count">{{comment}} Comment</h4>
                            {% else%}
                            <h4 class="comments-count">{{comment}} Comments</h4>
                            {% endif %} {% for comment in comments%}
                            <div id="comment-1" class="comment clearfix">

                                <!--<img src="" class="comment-img  float-left" alt="">-->
                                <img src="{{comment.author.profile.profile_photo.url}}" class="comment-img  float-left" alt="">
                                <h5><a href="">{{comment.author}}</a>{% if comment.author == user %} <a href="{% url 'bcomment-delete' comment.id %}" class="reply"><i class="icofont-reply"></i>Delete</a> {% endif %}</h5>
                                <time datetime="2020-01-01">{{ comment.date_posted }}</time>

                                <p>
                                    {{comment.message}}

                                </p>
                                <h6 style="color: purple;">{{blog.hashtag}}</h6>
                                <div class="float-right share">
                                    {% if comment.author.profile.twitter != '#'%}
                                    <a href="https://www.twitter.com/{{comment.author.profile.twitter}}" title="Holla me on Twitter"><i class="icofont-twitter"></i><span> @{{comment.author.profile.twitter}}</span></a>{% endif%}
                                    <!--<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>-->
                                    {% if comment.author.profile.facebook != '#'%}
                                    <a href="https://www.facebook.com/{{comment.author.profile.facebook}}" title="Holla me on Facebook"><i class="icofont-facebook"></i><span> @{{comment.author.profile.facebook}}</span></a>{% endif%}
                                    <!--<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>-->
                                    {% if comment.author.profile.instagram != '#'%}
                                    <a href="https://www.instagram.com/{{comment.author.profile.instagram}}" title="Holla me on Instagram"><i class="icofont-instagram"></i><span> @{{comment.author.profile.instagram}}</span></a>{% endif%}
                                </div>
                            </div>
                            {% endfor %} {% for comment in comnts%}
                            <div id="comment-2" class="comment clearfix">

                                <!--<img src="" class="comment-img  float-left" alt="">-->
                                <img src="{% static 'home/default.jpg'%}" class="comment-img  float-left" alt="">
                                <h5><a href="">{{comment.My_name}}</a>{% if comment.author == user.username %} <a href="{% url 'anycomment-delete' comment.id %}" class="reply"><i class="icofont-reply"></i>Delete</a> {% endif %}</h5>
                                <time datetime="2020-01-01">{{ comment.date_posted }}</time>

                                <p>
                                    {{comment.message}}

                                </p>
                                <h6 style="color: purple;">{{blog.hashtag}}</h6>


                            </div>
                            {% endfor %} {% if user.is_authenticated %}
                            <div class="reply-form" id="comment">
                                <h4>Leave a Comment</h4>

                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            {{ form|crispy }}
                                            <button type="submit" class="btn btn-primary">Post Comment</button>
                                        </div>


                                    </div>

                                </form>

                            </div>
                            {%else%}
                            <div class="reply-form" id="comment1">
                                <h4>Leave a Comment</h4>

                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            {{ form|crispy }}
                                            <button type="submit" class="btn btn-primary">Post Comment</button>
                                        </div>


                                    </div>

                                </form>

                            </div> {% endif%}

                        </div>
                        <!-- End blog comments -->

                    </div>
                    <!-- End blog entries list -->


                </div>

            </div>
        </section>
        <!-- End Blog Single Section -->

    </main>
    <!-- End #main -->




    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>ALPHA<span>.</span></h3>

                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>Alpha</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
                    Developed by <a href="https://wwww.facebook.com/deno.delphina">Dennis Munyu (Alpha) and BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://www.twitter.com/DennisMunyu" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/deno.delphina" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/munyudennis_/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'blog/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'blog/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'blog/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'blog/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'blog/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'blog/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'blog/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'blog/js/main.js' %}"></script>


</body>

</html>