<!DOCTYPE html> {% load static%}{% load crispy_forms_tags%}
<html lang="zxx">

<head>
    <title>Alpha</title>
    <meta charset="UTF-8">
    <meta name="description" content="Alpha">
    <meta name="keywords" content="the future">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon .heic-->

    <link href="{% static 'hm/img/favicon2.png' %}" rel="shortcut icon" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'hm/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/slicknav.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'hm/css/style.css' %}" />

</head>

<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                        <!-- logo -->
                        <a href="/" class="site-logo">
                            <img src="{% static 'hm/img/logo.png' %}" alt="">
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 contact-info">
                    <h2>Terms and Conditions</h2>
                    <ul>
                        <li><small>Alpha will not sell user data to a third party </small></li>
                        <li><small>Alpha will only use your info to contact you </small></li>
                        <li><small>Alpha will protect your user data</small></li>
                        <li><small>No use of Abusive language around the site</small></li>
                        <li><small>You have agreed to respect each user of the site </small></li>
                        <li><small>Using abusive terms actions may be taken Against you</small></li>
                        <li><small>You have accepted future changes to this terms and conditions </small></li>
                    </ul>
                    <h4>Business Users Terms</h4>
                    <ul>
                        <li><small>You have accepted to keep user phone number for business use only and if you violate this policy actions may be taken  Against you</small></li>
                        <li><small>You will respect every comment and you will be respectful </small></li>
                        <li><small>You will respond to every order recieved </small></li>
                        <li><small>You have accepted future changes to this terms and conditions </small></li>
                        <li><small>No selling of Alcohol, Drugs and ILLEGAL products </small></li>
                    </ul>
                    <h4>Users Terms</h4>
                    <ul>
                        <li><small>You will respectfull at all time and violation of this policy actions maybe taken </small></li>
                        <li><small>You will consider everyone feelings before posting everything </small></li>
                        <li><small>You have accepted future changes to this terms and conditions </small></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <a href="/"><img src="{% static 'hm/img/logo-light.png' %}" alt=""></a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6" id="about">
                    <div class="footer-widget about-widget">
                        <h2>About us</h2>
                        <p>Alpha is a technology company that helps your business reach more customers and help customers get products, foods and services in one place.#God Bless</p>
                        <img src="{% static 'hm/img/cards.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Help</h2>
                        <ul>

                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'blog'%}">Blog</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Questions</h2>
                        <div class="fw-latest-post-widget">
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="{% static 'hm/img/blog-thumbs/1.jpg' %}"></div>
                                <div class="lp-content">
                                    <h6>Who is Alpha co-founder</h6>
                                    <span>2020</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                            <div class="lp-item">
                                <div class="lp-thumb set-bg" data-setbg="{% static 'hm/img/blog-thumbs/2.jpg' %}"></div>
                                <div class="lp-content">
                                    <h6>trends this year</h6>
                                    <span>2020</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget">
                        <h2>Questions</h2>
                        <div class="con-info">
                            <span>Company</span>
                            <p>Alpha Ltd </p>
                        </div>
                        <div class="con-info">
                            <span>Location</span>
                            <p>Limuru, Kiambu Kenya</p>
                        </div>
                        <div class="con-info">
                            <span>Telphone</span>
                            <p>+254 705 055 022 62</p>
                        </div>
                        <div class="con-info">
                            <span>Email</span>
                            <p>alphathefuture1@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="https://www.instagram.com/munyudennis_/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="https://www.facebook.com/deno.delphina" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="https://www.twitter.com/DennisMunyu" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <!--<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>-->
                </div>

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="text-white text-center mt-5">Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This web applications is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/deno.delphina" target="_blank">Dennis Munyu (Alpha) </a>with help from Colorlib</p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
        </div>
    </section>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="{% static 'hm/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'hm/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hm/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'hm/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'hm/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'hm/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'hm/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'hm/js/main.js' %}"></script>

</body>

</html>